<div>
    <div class="footer-top">
        <h2>Want to receive event updates?</h2>
        <form class="subscribe-form" action="/subscribe" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
        </form>
    </div>
    <div class="footer-content">
        <div class="footer-column">
            <h3>Email Us</h3>
            <p><a href="mailto:info@causeconnect.com">info@causeconnect.com</a></p>
        </div>
        <div class="footer-column">
            <h3>Quick Links</h3>
            <p><a href="/login">Log In</a></p>
            <p><a href="/signup">Sign Up</a></p>
            <p><a href="/">Home</a></p>
            <p><a href="/about">About Us</a></p>
            <p><a href="/events">Find Events</a></p>
            <p><a href="/post_event">Post Event</a></p>
            <p><a href="/faqs">FAQs</a></p>
        </div>
        <div class="footer-column">
            <h3>About CauseConnect</h3>
            <p>We help discover, join & engage with volunteering events in various locations of Australia.</p>
            <div class="footer-social">
                <a href="#"><img src="https://img.icons8.com/material-outlined/24/ffffff/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="https://img.icons8.com/material-outlined/24/ffffff/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="https://img.icons8.com/material-outlined/24/ffffff/google-plus.png" alt="Google Plus"></a>
                <a href="#"><img src="https://img.icons8.com/material-outlined/24/ffffff/linkedin.png" alt="LinkedIn"></a>
                <a href="#"><img src="https://img.icons8.com/material-outlined/24/ffffff/youtube-play.png" alt="YouTube"></a>
            </div>
        </div>
    </div>
    <p>© CauseConnect 2024, All rights reserved.</p>
</div>
