/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff8e1;
    margin: 0;
    padding: 0;
    color: #333;
}

/* About Section */
main {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

main p {
    color: #555;
}
